body{
    font-family: 'Georgia', Times,'Times New Roman', serif;
    background-color: #1d3169

}

.container{
    border-radius: 5px;
    background-color: #1d3169;
    padding: 20px;
}

h1{
    color: black;
    text-align: center;
    font-weight: 250;
}

h3{  
    color: black;
    text-align: center;
    font-weight: 100;
}

input[type="text"], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #1d3169;
    border-radius: 5px solid;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #b9c8f0a2;
    box-sizing: 
}